<h1 class="title">Blog Index</h1>

<section class="section">
	<div class="container">
		<% @posts.each do |post| %>
			<div>
				<div>
					<div>
						<div>
							<p class="title"><% post.title %></p>
						</div>
					</div>
					<div class="content">
						<% post.content %>
					</div>
				</div>
			</div>
		<% end %>	
	</div>
</section>
